        body {
            font-family: "Noticia Text";
        }
        
        .container .site-name {
            font-size: 4rem;
        }
        
        .container .link-container .category-link a {
            font-size: 1.3rem;
            color: #000;
            text-decoration: none;
        }
        
        .container .link-container .category-link a:hover {
            font-size: 1.3rem;
            color: rgb(90, 90, 90);
            text-decoration: none;
        }
        
        .news-body {
            height: 12rem;
        }
        
        .continue-reading {
            bottom: 1rem;
            display: inline-block;
            text-decoration: none;
            cursor: pointer;
            color: #a6a6a6;
        }
        
        .continue-reading:hover {
            color: #255efa;
            text-decoration: none;
        }
        
        .source,
        .author,
        .published {
            color: rgb(90, 90, 90);
        }
        
        .img-news {
            max-width: 100%;
        }