* {
    font-family: "Poppins";
}

body {
    background-color: #f7f7f7;
}

.custom-navbar {
    background-color: #6c6d6c;
    padding: 0;
}

.navbar-brand,
.nav-link {
    color: #ffffff;
}

.navbar-brand:hover {
    color: #e0e0e0;
}

.nav-item,
.nav-link {
    transition: .3s;
}

.nav-item .nav-link {
    font-size: 1rem;
    text-align: center;
    padding: 20px 40px;
    text-decoration: none;
}

.nav-item:hover {
    background-color: #fadcc0;
}

.nav-item:hover .nav-link {
    color: #3e515c;
}

.navbar-toggler {
    padding: 1px .2px -3px;
    border: 1px solid transparent;
    margin-right: 1rem;
}

.navbar-toggler:focus {
    border-color: #3e515c;
}

.navbar-toggler-icon img {
    width: 25px;
}

.full-width {
    width: 100%;
}

#banner {
    background-color: #90a2a8;
    color: #fff;
    padding-top: 75px;
    padding-bottom: 2rem;
}

#greet {
    font-size: 1.25rem;
}

#name,
#tagline {
    font-size: 2.3rem;
}

#intro {
    font-size: .8rem;
}

.btn-primary {
    background-color: #3e515c;
    text-decoration: none;
    border: 2px solid;
    border-radius: 10px;
}

.btn-primary:hover {
    background-color: #fadcc0;
    cursor: pointer;
    color: #000;
    text-decoration: none;
}

.title {
    font-size: 1.8rem;
}

#about-text,
#about-text-mobile,
#service-text {
    padding: 0 1.5rem;
    color: #979797;
}

.card-text {
    color: #979797;
}

#card-container {
    padding: 0 rem;
}

.card-title {
    font-size: 24px;
    font-weight: bold;
    color: #3e515c;
}

.card-link {
    position: absolute;
    bottom: 1rem;
    display: inline-block;
    color: #3e515c;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
}

.card-body {
    padding: 20px 30px;
}

.img-portfolio {
    width: 300px;
}

.contact {
    color: #979797;
}

footer {
    background-color: #90a2a8;
}

footer #social-media {
    margin: 3rem 0;
    padding-top: 3rem;
}

footer .copyright {
    background-color: #6b797e;
    padding: 1.5rem 1rem;
    font-size: .95rem;
    color: #000;
}

footer .social-media-link .social-media-icons {
    width: 2rem;
}

@media (min-width: 768px) {
    #banner {
        padding-top: 65px;
        height: 100vh;
    }
    #name,
    #tagline {
        font-size: 2.8rem;
    }
    #intro {
        font-size: 1rem;
    }
    #card-container {
        padding: 0 4rem;
    }
}

@media (min-width: 992px) {
    .full-width {
        width: auto;
    }
    .custom-navbar {
        padding: 0 1rem;
    }
    #greet {
        font-size: 1.3rem;
    }
    #name,
    #tagline {
        font-size: 3.2rem;
    }
    #about-me,
    #about-me-mobile {
        padding: 0 6.5rem;
    }
    .card {
        width: 300px;
    }
    #card-container {
        padding: 0 4rem;
        margin: 0 2rem;
    }
}

@media (min-width: 1200px) {
    #greet {
        font-size: 1.5rem;
    }
    #name,
    #tagline {
        font-size: 3.5rem;
    }
}