    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Poppins";
    }
    body {
        position: relative;
        background-color: #f7f7f7;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
    }
    header {
        position: relative;
        width: 100%;
        height: auto;
    }
    
    .menu-nav {
        position: fixed;
        top: 0;
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: #6c6d6c;
        padding: 0 1rem;
        z-index: 1;
    }
    
    .menu-link {
        color: #ffffff;
        font-size: 15px;
        text-align: center;
        padding: 20px 40px;
        text-decoration: none;
        transition: .3s;
    }
    
    .menu-nav .menu-link:hover {
        color: #3e515c;
        background-color: #fadcc0;
    }

    /* Section Banner */
    .hero-banner {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #90a2a8;
        width: 100%;
        height: 100vh;
        padding: 1rem 2rem;
        padding-top: 63px;
    }
    .caption {
        margin-left: 6rem;
    }

    .tagline, .greet, .name, .intro {
        color: #fff;
    }
    
    .greet {
        font-size: 20px;
    }
    .name, .tagline {
        font-size: 55px;
    }
    .img-banner {
        width: 100%;
    }
    
    .intro {
        font-size: 13px;
    }
    
    .intro-two {
        display: none;
    }
    .icons-bars {
        width: 25px;
        margin-right: 2rem;
    }
    
    .check-responsive {
        display: none;
    }
    
    .btn-primary {
        color: #fff;
        background-color: #3e515c;
        border: 2px solid #fff;
        margin-top: 2rem;
        padding: 0.8rem 2rem;
        border-radius: 10px;
        display: inline-block;
        text-decoration: none;
    }
    
    .btn-primary:hover {
        background-color: #fadcc0;
        cursor: pointer;
        color: #000;
    }

    .container {
        text-align: center;
        margin: 4rem 0;
        padding: 0 1.5rem;
    }
    
    .title {
        margin: 2rem;
        font-size: 1.8rem;
        font-weight: 700;
    }
    
    .card-container {
        display: flex;
        justify-content: center;
        align-items: stretch;
        margin-top: 2rem;
    }
    
    .card-body {
        position: relative;
        border: 1px solid #fff;
        background-color: #fff;
        padding: 20px 30px;
        width: 300px;
        margin: 0 5px;
        box-shadow: 10px 10px 10px #3e515c;
    }
    
    .card-title {
        font-size: 24px;
        font-weight: bold;
        color: #3e515c;
        text-align: left;
    }
    .card-content{
        color: #6c6d6c;
        margin-top: 1rem;
        text-align: left;
    }
    
    .card-text {
        font-size: 1rem;
        margin-bottom: 2rem;
    }
    .read-more {
        position: absolute;
        bottom: 1rem;
        display: inline-block;
        color: #3e515c;
        font-size: 14px;
        margin-top: 1rem;
        text-decoration: none;
        cursor: pointer;
    }
    
    .read-more:hover {
        text-decoration: underline;
    }
    
    .long-text,
    .contact, .intro-two {
        color: #979797;
    }
    .long-text {
        padding: 0 6rem;
    }

    #portfolio {
        margin-top: 9rem;
    }

    .portfo-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-gap: 1rem;
        padding: 0 10rem;
    }

    .img-portfo {
        width: 100%;
        height: auto;
    }
    .contact-container {
        display: flex;
        justify-content: center;
        text-align: left;
    }
    .contact p {
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
    }
    .contact p .material-icons {
        padding-right: 1rem;
    }

    form {
        padding-left: 10%;
    }

    input {
        height: 45px;
    }
    input::placeholder, textarea::placeholder {
        color: rgb(58, 58, 58);
        font-size: .9rem;
    }
    
    textarea, input {
        background-color: #f7f7f7;
        width: 350px;
        border: 1px solid #3e515c;
        border-radius: 5px;
        margin-bottom: 10px;
        padding: 4px 8px;
        font-size: 1rem;

    }
    
    form .btn-primary {
        margin-top: 0;
        padding: 1rem 2rem;
    }

    footer {
        margin-top: 1.25rem;
        background-color: #90a2a8;
        text-align: center;
        padding-top: 2rem;
    }
    footer .social-media {
        margin-bottom: 1.5rem;
    }
    footer .social-media-link {
        display: inline-block;
        margin: 1rem;
        text-decoration: none;
    }
    footer .social-media-link .social-media-icons {
        width: 2rem;
    }
    footer .copyright {
        background-color: #6b797e;
        padding: 1.5rem 1rem;
        font-size: .95rem;
    }

    @media (max-width: 1140px) {
        .greet {
            font-size: 18px;
        }
        .name, .tagline {
            font-size: 50px;
        }
        .long-text {
            padding: 0 5rem;
        }
        .portfo-container {
            padding: 0 7rem;
        }
    }
    @media (max-width: 991px) {
        .hero-banner {
            position: relative;
            flex-direction: column;
            height: auto;
        }
        .caption {
            margin-left: 0;
        }
        .name, .tagline {
            font-size: 45px;
        }
        .figure-banner {
            text-align: center;
        }
        .img-banner {
            width: 75%;
        }
        .card-container {
            display: flex;
            flex-direction: column;
            height: auto;
        }
        .card-body {
            position: relative;
            left: 50%;
            width: 500px;
            margin: 5px 0;
            transform: translateX(-50%);
        }
        .long-text {
            padding: 0 4rem;
        }
        .portfo-container {
            padding: 0 4rem;
        }
        .contact-container {
            display: block;
            justify-content: none;
        }
        .contact {
            margin-bottom: 3rem;
        }
        form {
            padding-left: 0
        }
    }
    @media (max-width: 767px) {
        .menu-nav {
            display: none;
        }
        .nav-responsive {
            position: fixed;
            display: block;
            background-color: #6c6d6c;
            width: 100%;
            padding: 1rem 0;
            z-index: 1;
        }
        #check-responsive {
            display: none;
        }
        #close {
            display: none;
        }
        #menu {
            float: right;
            cursor: pointer;
        }
        #check-responsive:checked~.menu-nav {
            display: flex;
            margin-top: 55px;
            padding: 0;
            flex-direction: column;
            font-size: medium;
        }
        .hero-banner {
            padding: 2rem;
            padding-top: 6rem;
        }
        .img-banner {
            width: 80%;
        }
        .greet {
            font-size: 17px;
        }
        .name, .tagline {
            font-size: 40px;
        }
        .long-text {
            padding: 0 3rem;
        }
        .portfo-container {
            grid-template-columns: repeat(2, 1fr);
            padding: 0 4rem;
        }
    }
    @media (max-width: 567px) {
        .name, .tagline {
            font-size: 37px;
        }
        .img-banner {
            width: 90%;
        }
        .long-text {
            padding: 0 1rem;
        }
        .portfo-container {
            padding: 0 1.75rem;
        }

        .card-body {
            position: relative;
            left: 0;
            width: 100%;
            transform: translateX(0);
        }
    }
    @media (max-width: 480px) {
        .card-container {
            padding: 0 1rem;
        }
        .card-body {
            width: 100%;
        }
        .icons-bars {
            margin-right: 1rem;
        }
        .greet {
            font-size: 1rem;
        }
        .name, .tagline {
            font-size: 2rem;
        }
        .img-banner {
            width: 100%;
        }
        #about-me.long-text {
            display: none;
        }
        .intro-two {
            display: block;
        }
        .portfo-container {
            grid-template-columns: 1fr;
            padding: 0 1rem;
        }
        .contact-container {
            padding: 0 1rem;
        }
        textarea, input {
            width: 100%;
        }
    }