/* Section Table */

.table-container {
    display: flex;
    justify-content: center;
    font-family: 'Raleway';
}

table {
    border-collapse: collapse;
}

thead {
    background-color: #908691;
    color: #fff;
}

th,
td {
    border: 1px solid #908691;
    padding: 1rem;
    text-align: center;
    font-size: .9rem;
}

td {
    width: 8rem;
}


/* Section Card */

.container {
    font-family: 'Raleway';
    display: flex;
    justify-content: center;
    grid-gap: 2rem;
    padding: 2rem;
}

.card {
    width: 20rem;
    background-color: #908691;
    color: #fff;
    padding: .7rem;
    text-align: center;
    box-shadow: 10px 10px #c4c4c4;
}

.container .card-name {
    font-size: 1rem;
}

.container .card-job {
    font-size: .7rem;
    padding-bottom: .8rem;
}

.container .card-text {
    padding: 0 1rem 2rem 1rem;
    font-size: .9rem;
    text-align: center;
}

.container .quote-icon {
    width: 2.8rem;
    padding: .7rem;
}

.container .icon {
    text-align: right;
}

.card-name,
.card-job,
.card-text {
    margin: 0.5rem 0.5rem;
}

.image {
    margin: 0;
}

.image .img-profile {
    width: 4rem;
    border: 3.5px solid #fff;
    border-radius: 50%;
}