.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Raleway';
    margin: 0 8rem;
}

.container table {
    border-collapse: collapse;
}

table {
    width: 100%;
}

th,
td {
    border: 1px solid #000;
}

td {
    padding: .2rem 1.5rem .2rem .5rem;
    width: auto;
}